.row
    .col-md-12.text-center
        #banner.jumbotron.stretchBg
            h1 NIU Anime Association
    //a.pull-right.btn.btn-lg.btn-info.hidden-sm.hidden-xs(href="karoshi.html")
        |  Karoshi-Con  
        span.glyphicon.glyphicon-arrow-right
    //.container-fluid
        //img.img-rounded.pull-right(src="img/panda.png", height="200")
        //p NIU's #1 fans of Japanese animation since 1999.
        //button Home
    //ul.nav.nav-pills.pull-right
        li.active
            a(href="karoshi.html") Karoshi-Con
    //ul.nav.nav-tabs
        li.active
            a(href="karoshi.html") Karoshi-Con