html
    head
        title NIU Anime Association
        meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
        // Made in DreamWeaver 3.0 then converted lol...
        style(type='text/css').
          <!--
          h1 {  color: #F00}
          table { border-color: #F00;}
          body {  font-family: "Comic sans ms"}
          -->
      body(bgcolor='#000000', text='#FFFFFF', link='#F00', onload="document.getElementById('music').play()", style="background-image: url('img/1999/stars.jpg')")
        audio#music(style='display: none')
          source(src='ogg/tothemoon.ogg', type='audio/ogg')
        p(align='left')
          font(face='Times New Roman, Times, serif', size='7')
            h1 NIU Anime Association
        p
        div(align='left')
          table(width='75%', border='1')
            tr
              td
                div(align='center')
                  a(href='index.html') Home
              td
                div(align='center') Shows
              td
                div(align='center') Schedule
              td
                div(align='center') Events
              td(align='left')
                div(align='center') People
          p &nbsp;
        table(border='1')
          tr
            td(width='111')
              font(color='#0000FF') Last Updated: February 24th, 1999
            |     
            td(rowspan='2', width='499')
              div(align='right')  
              |       
              p(align='left')
                font(size='6')
                  u
                    b About us:
              |       
              p(align='left')
                | We are Northern Illinois University&apos;s anime club located
                | in McMurry Hall on campus in DeKalb, Illinois.
              |       
              p(align='left')
                | New members are welcome to all meetings! No registration
                | required. Check out the location page for directions.
              |       
              p(align='left')
                | Our main activity is publicly showing different types of
                | Japanese Animation (called anime), including movies, TV series, and direct-to-video
                | releases. We show a variety of genres which include drama, comedy, romance,
                | action, adventure, science fiction, and historical. These showings take
                | place every Tuesday night and Thursday night from 6:00pm to 9:00pm during
                | the Fall and Spring Semesters.
              |       
              p(align='left')
                | Please take a look at the Show Schedule page for a listing
                | of what we are showing this semester. As of Fall 2012 we are meeting in
                | McMurry Hall room 308. All of our showings are free and open to the public.
              |       
              p(align='left')
                | Other club activities include art lessons, field trips,
                | parties, and attending the Anime Central convention held in Rosemont,
                | Illinois.
                img(src="img/1999/reiclap.gif")
            |     
            td(width='395')
              table
                tr
                  td
                    div(align='center')
                      img(src='img/1999/eva.gif', width='500', height='203')
                |         
                tr
                  td
                    div(align='center')
                      i Neon Genesis Evangelion
          |   
          tr
            td(width='111')
              font(color='#33FF33') Webmaster: goreilly@niu.edu
            |     
            td(width='395')
              p(align='center')
                b
                  u NEWS!!!
              |       
              p(align='center')
                img(src='img/1999/tenchimuyo.gif', width='200', height='263')
              |       
              div(align='center')
                marquee Tenchi Muyo voted best anime of the decade
        p(align='left') &nbsp;
        div(align='right')